.main_box{
    width: 988px;
    display: flex;
    flex-direction: column;
}

.head_box{
    width: 100%;
    display: flex;
}

.head_box h4{
    width: 600px;
    margin: 36px 0 0 30px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
}

.head_box img{
    margin: 32px 37px 0 0;
}

.head_box p{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 48px 14px 0 0;
    letter-spacing: 0.2px;
    color: #252733;
}

.menu_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.menu_box a{
    text-decoration: none;
}

.menu_box div{
    width: 215px;
    margin: 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
}

.menu_box div:hover{
    cursor: pointer;
    border: 1px solid #3751FF;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgba(55, 81, 255, 0.17);
}

.menu_box div:hover h5{
    color: #3751FF;
}

.menu_box div:hover p{
    color: #3751FF;
}

.menu_box div h5{
    margin: 20px 0 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1D3130;
}

.menu_box div p{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #252733;
    margin: 0 0 24px;
}