.container{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.container h1{
    font-family: 'Roboto', sans-serif;
    color: #2B4241;
    font-weight: 900;
    font-size: 40px;
    margin: 0;
}

.container h2{
    font-family: 'Roboto', sans-serif;
    color: #2B4241;
    font-weight: 600;
    font-size: 24px;
}

.container a{
    font-family: 'Roboto', sans-serif;
    color: #767676;
    padding: 10px 0;
}


