.title{
    box-sizing: border-box;
    margin: 0;
    padding: 40px 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #254F4C;
}

.container{
    display: flex;
    justify-content: center;
    padding: 0 5% 30px;
    gap: 30px;
}

.container div{
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #254F4C;
}

.container div p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #1D3130;
}
