.side_box{
    width: 255px;
    height: 100%;
    background-color: #363740;
}

.side_bar{
    width: 100%;
    height: 465px;
}

.logo_box{
    display: flex;
    justify-content: center;
}

.logo_box h3{
    margin: 40px 15px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #A4A6B3;
    opacity: 0.7;
}

.nav_list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 35px;
    padding: 0;
}

.nav_list li{
    width: 235px;
    padding: 15px 10px;
}

.nav_list li:hover{
    background: rgba(159, 162, 180, 0.3);
}

.nav_list li a{
    text-decoration: none;
    color: #A4A6B3;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.nav_list li:hover a{
    color: #DDE2FF;
}

.nav_list li a img{
    width: 16px;
    padding: 0 24px;
}

.divider{
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #60626D;
}